﻿
<aside class="navigation">
  <div id="headerMenu" class="menu-header">
    <img src="" class="logo-nav" /> | Hub
  </div>

  <div id="menuOpciones">
    <ul class="list-group list-group-flush menu-list">
      <li class="list-group-item d-flex align-items-center border-0 menu-item">
        <a asp-controller="Home" asp-action="Index">
          <i class="icon tz-menu"></i> Menú
        </a>
      </li>
      <li class="list-group-item d-flex align-items-center border-0 menu-item">
        <a asp-controller="Administracion" asp-action="Index"><i class="icon tz-tranx"></i> Transacciones</a>
      </li>
      <li class="list-group-item d-flex align-items-center border-0 menu-item">
        <a asp-controller="Administracion" asp-action="Taquillas"><i class="icon tz-laptop"></i> Taquillas y Cajas</a>
      </li>
      <li class="list-group-item d-flex align-items-center border-0 menu-item">
        <a asp-controller="Administracion" asp-action="Comisiones"><i class="icon tz-fee"></i> Comisiones</a>
      </li>
      <li class="list-group-item d-flex align-items-center border-0 menu-item">
        <a asp-controller="Administracion" asp-action="Usuarios"><i class="icon tz-users"></i> Usuarios</a>
      </li>
    </ul>
  </div>

  <div class="detalleOperador" class="">
    <ul class="list-group list-group-flush bg-dark-blue">
      <li class="list-group-item d-flex flex-column border-0">
        <div id="userInfo" class="d-flex align-content-center bg-dark-blue">
          <img id="userAvatar" class="avatar mr-2" src="~/images/AvatarDennis.jpg" />
          <div id="userName" class="">
            <span class="name">Dennis Castillo</span>
            <span class="login">djcasti</span>
          </div>
          <i class="icon tz-view ml-auto"></i>
        </div>        
      </li>      
    </ul>
  </div>
</aside>