﻿<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/png" href="~/images/favicon.png">
  <title>Payco | Hub</title>
  <link rel="stylesheet" href="~/dist/main.css" asp-append-version="true" />
</head>
<body>
  <!-- Main Menu -->
  <!-- <partial name="_AdminNavigation" /> -->
  <div id="navigation"></div>

  <!-- Main view  -->
  <div class="wrapper">
    @RenderBody()
  </div>

  <script type="text/javascript" src="~/dist/adminNavigation.bundle.js" asp-append-version="true"></script>

  @RenderSection("Scripts", required: false)
</body>
</html>


