﻿
<aside id="navigation">
  <div id="headerMenu" class="menu-header">
    <img src="" class="logo-nav" /> | Hub
  </div>

  <div id="menuOpciones">
    <ul class="list-group list-group-flush menu-list">
      <li class="list-group-item d-flex align-items-center border-0 menu-item">
        <a asp-controller="Home" asp-action="Index">
          <i class="icon tz-menu"></i> Menú
        </a>
      </li>
      <li class="list-group-item d-flex align-items-center border-0 menu-item">
        <i class="icon tz-star"></i> Populares
        <span class="icon tz-angle-up ml-auto"></span>
      </li>
      <li class="list-group-item d-flex align-items-center border-0 menu-item">
        <i class="icon tz-watch"></i> Recientes
        <span class="icon tz-angle-up ml-auto"></span>
      </li>
    </ul>
  </div>

  <div id="detalleOperador" class="">
    <ul class="list-group list-group-flush">
      <li class="list-group-item d-flex flex-column border-0">
        <div id="userInfo" class="d-flex align-content-center">
          <img id="userAvatar" class="avatar mr-2" src="~/images/AvatarDennis.jpg" />
          <div id="userName" class="">
            <span class="name">Dennis Castillo</span>
            <span class="login">djcasti</span>
          </div>
          <i class="icon tz-view ml-auto"></i>
        </div>
        <div id="terminalInfo">
          <ul>
            <li>Caja: 9</li>
            <li>Terminal: VE9998</li>
            <li>Sucursal: 9998</li>
            <li>Empresa: Lorem Ipsum</li>
          </ul>
        </div>
      </li>
      <li class="list-group-item d-flex align-items-center border-0 menu-item">
        <i class="icon tz-lock"></i> Cambiar contraseña
      </li>
      <li class="list-group-item d-flex align-items-center border-0 menu-item">
        <i class="icon tz-exit"></i> Salir
      </li>
    </ul>
  </div>
</aside>