@charset "UTF-8";

@font-face {
  font-family: "sgs";
  src:url("fonts/sgs.eot");
  src:url("fonts/sgs.eot?#iefix") format("embedded-opentype"),
    url("fonts/sgs.woff") format("woff"),
    url("fonts/sgs.ttf") format("truetype"),
    url("fonts/sgs.svg#sgs") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "sgs" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "sgs" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-afiliaciones:before {
  content: "\61";
}
.icon-puntos:before {
  content: "\62";
}
.icon-reloj-de-pared:before {
  content: "\63";
}
.icon-reportes:before {
  content: "\64";
}
.icon-saldo:before {
  content: "\65";
}
.icon-servicios:before {
  content: "\66";
}
.icon-soporte:before {
  content: "\67";
}
.icon-transacciones:before {
  content: "\68";
}
.icon-usuarios:before {
  content: "\69";
}
.icon-abonar:before {
  content: "\6a";
}
.icon-add-usuario:before {
  content: "\6b";
}
.icon-retirar:before {
  content: "\6c";
}
.icon-caja:before {
  content: "\6d";
}
.icon-calendario:before {
  content: "\6e";
}
.icon-config:before {
  content: "\6f";
}
.icon-historico:before {
  content: "\70";
}
.icon-lupa:before {
  content: "\71";
}
.icon-menu:before {
  content: "\72";
}
.icon-menu-caja:before {
  content: "\73";
}
.icon-notificacion:before {
  content: "\74";
}
