@{
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="w-100 d-flex justify-content-center align-items-center">
  <div class="d-flex flex-column align-items-center">
    <div class="logoConstruccion">
      <img src="~/images/construction.svg" class="img-fluid" />
    </div>
    <div class="R-M h5 text-light-grey my-5">
      Este módulo está en construcción
    </div>
    <a href="/Home" role="button" class="btn btn-dark-blue w-50">Volver</a>
  </div>
</div>