﻿
@{
  Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<!-- <div class="LogoZoomPagos d-flex rounded-circle p-1 bg-white">
  <img id="" class="align-self-center img-fluid" src="~/images/logo_zoom.png" />
</div> -->

<div class="LogoZoomPagos mb-4">
  <img id="" class="img-fluid" src="~/images/logo_zoom_pagos.png" />
</div>

<p class="text-center subtitulo-medium mt-3 mb-5">Taquilla de Pago</p>

<div id="login-root" class="row w-100 justify-content-center">
</div>
@section Scripts {
  <script type="text/javascript" src="~/dist/login.bundle.js" asp-append-version="true"></script> 
  <!-- <script type="text/javascript" src="~/node_modules/sweetalert/dist/sweetalert.min.js"></script> -->
  <script type="text/javascript">
    let isIE = /*@@cc_on!@@*/false || !!document.documentMode;
    let node = document.createElement("div");
    node.innerHTML = "<div class='small'>" +
            "Hemos detectado que está utilizando un navegador descontinuado.<br />" +
            "Por favor actualice su navegador a través de los siguientes enlaces:" +
            "<ul class='list-unstyled mt-3'>" +
            "  <li>Chrome: <a href='https://www.google.com/intl/es_ALL/chrome/' target='_blank'>https://www.google.com/intl/es_ALL/chrome/</a></li>" +
            "  <li>Firefox: <a href='https://www.mozilla.org/es-ES/firefox/new/' target='_blank'>https://www.mozilla.org/es-ES/firefox/new/</a></li>" +
            "</ul>" +
            "<div class='text-center'>" +
              "<button type='button' class='btn btn-light-blue' onclick='function() { window.location = window.location.pathname }'>Ir a Zoom Pago de Servicios</button>" +
            "</div>" +
          "</div>"
        
    if (isIE) {
      swal({
        title: "Navegador no soportado",
        content: node,
        button: false,
        icon: 'warning'
      });
    }
  </script>
}