﻿
<div id="AgregarCajaModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header border-0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="icon tz-close-light small text-light-grey"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="titulo text-center mb-4">Agregar Caja</div>
        <form class="p-5">
          <div class="row">
            <div class="col-sm-6 mb-4">
              <div class="dropdown">
                <button class="btn btn-dropdown btn-block" type="button" id="dropdownTaquillas" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Taquillas
                  <i class="icon tz-angle-down-light"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownTaquillas">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
            </div>            
          </div>
          <div class="row">
            <div class="col-sm-6 mb-4">
              <input id="nroCaja" type="text" class="form-control bg-lighter-grey" aria-label="Numero de caja" placeholder="Número de caja">
            </div>
            <div class="col-sm-6 mb-4">
              <input id="nombreCaja" type="text" class="form-control bg-lighter-grey" aria-label="Nombre de la caja" placeholder="Nombre de la caja">
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-sm-3 mt-4">
              <button class="btn btn-light-grey btn-block">Agregar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>