﻿
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
  <div class="titulo">Transacciones</div>

  <div class="card border-0 shadow-sm mb-5">
    <div class="card-body bg-lighter-grey p-5">
      <div class="row">
        <label class="col-sm-1">Desde:</label>
        <div class="col-sm-2 mb-4">
          <div id="fechaDesde" class="input-group">
            <input type="text" id="txtDesde" class="form-control border-0" />
            <div class="input-group-append">
              <span id="btnDesde" class="input-group-text bg-white align-middle"><i class="icon tz-calendar"></i></span>
            </div>
          </div>
        </div>
        <label class="col-sm-1">Hasta:</label>
        <div class="col-sm-2 mb-4">
          <div id="fechaHasta" class="input-group">
            <input type="text" id="txtHasta" class="form-control border-0" />
            <div class="input-group-append">
              <span id="btnHasta" class="input-group-text bg-white align-middle"><i class="icon tz-calendar"></i></span>
            </div>
          </div>
        </div>
        <div class="col-sm-2 mb-4">
          <select id="filtro" class="form-control border-0">
            <option value="cedula" selected="selected">Cédula</option>
            <option value="name">Nombre</option>
            <option value="email">Correo</option>
          </select>
        </div>

        <div class="col-sm-1">
          <select id="prefijoCedula" class="form-control border-0">
            <option value="V" selected="selected">V</option>
            <option value="E">E</option>
          </select>
        </div>

        <div class="col-sm-3 mb-4">
          <input type="text" id="txtCedula" class="form-control border-0" />
        </div>
      </div>
      <div class="row">
        <label class="col-sm-1 pr-0">Estado</label>
        <div class="col-sm-2 mb-4">
          <select id="estado" class="form-control border-0">
            <option value="" selected="selected">Todos</option>
          </select>
        </div>
        <label class="col-sm-1 pr-0">Tipo de Usuario</label>
        <div class="col-sm-2 mb-4">
          <select id="tipoUsuario" class="form-control border-0">
            <option value="" selected="selected">Todos</option>
          </select>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm-3 mt-4">
          <button id="buscar" class="btn btn-block btn-light-blue" type="button">Buscar</button>
        </div>
      </div>
    </div>
  </div>

  <table class="table table-bordered table-zoom shadow-sm">
    <thead>
      <tr>
        <th style="width:20px">&nbsp;</th>
        <th>ID</th>
        <th>Fecha de pago</th>
        <th>Pagador</th>
        <th>C&eacute;dula</th>
        <th>Biller</th>
        <th>Tipo de pago</th>
        <th>Operador</th>
        <th>Monto</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><i class="icon tz-plus-circle text-light-blue"></i></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><i class="icon tz-plus-circle text-light-blue"></i></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><i class="icon tz-plus-circle text-light-blue"></i></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><i class="icon tz-plus-circle text-light-blue"></i></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><i class="icon tz-plus-circle text-light-blue"></i></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><i class="icon tz-plus-circle text-light-blue"></i></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><i class="icon tz-plus-circle text-light-blue"></i></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><i class="icon tz-plus-circle text-light-blue"></i></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>

    </tbody>
  </table>
</div>

