﻿
@{
  Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="usuario-container" class="container-fluid"></div>

@section scripts {
  <script type="text/javascript" src="~/dist/usuarios.bundle.js" asp-append-version="true"></script>
}