@import './variables.scss';
@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope.ttf') format('truetype');
}

button,a{
    outline: none !important;
    box-shadow:none !important;
    text-decoration: none !important;
}
html{
    min-height: 100%;
    display: flex;
    align-items: stretch;
    width: 100%;
}
body,#root{
    background: $bg-fondo;
    display: flex;
    align-items: stretch;
    width: 100%;
    font-family: Manrope;
    font-weight: 500;
}
.bg-fondo{background: $bg-fondo;}
.bg-ppal{background: $bg-ppal;}

.bg-btn-gen{background: $bg-btn-gen;}

.cTexto1{color:$c-texto1}
.cTexto2{color:$c-texto2}
.cTexto3{color:$c-texto3}
.cTexto4{color:$c-texto4}
.cTextoI{color:$c-textoI}
.placeHolder{color:$placeHolder}

.f12{font-size: 12px;}
.f11{font-size: 11px;}
.f14{font-size: 14px;}
.f16{font-size: 16px;}
.f18{font-size: 18px;}
.f20{font-size: 20px;}
.f22{font-size: 22px;}

#pageLogin{
    .wrapLogin{
        width: 100%;
        max-width: 280px;
        margin:20px 20px;
        figure{
            padding: 20px;
            background: #ffffff;
            border-radius: 50%;
            display: flex;
            width: 120px;
            height: 120px;
            align-items: center;
            justify-content: center;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 50px;
            box-shadow: 0 0 20px (#B0B9D016);
            img{
                display: block;
            }
        }
        h2{
            line-height: 20px;
            font-weight: 900;
            margin-bottom: 30px;
        }
        a{
            font-size: 11px;
            margin-bottom: 30px;
            &:hover{
                color: $c-texto4;
            }
        }
        button{
            font-size: 14px;
            font-weight: 900;
        }
    }

    .wrapTerminal{
        figure{
            padding: 20px;
            background: #ffffff;
            border-radius: 50%;
            display: flex;
            width: 120px;
            height: 120px;
            align-items: center;
            justify-content: center;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 50px;
            box-shadow: 0 0 20px (#B0B9D016);
            img{
                display: block;
            }
        }
        h2{
            line-height: 20px;
            font-weight: 900;
            margin-bottom: 30px;
            text-align: center;
        }
        .listaTerminales{
            div{
                display: block;
                border-radius: 5px;
                background: #fff;
                box-shadow: 0 0 20px (#B0B9D016);
                padding: 20px;
                margin: 20px;
                padding-top: 30px;
                position: relative;
                cursor: pointer;
                min-width: 130px;
                p{
                    font-size: 14px;
                    margin-bottom: 0;
                    text-align: center;
                    font-weight: 700;
                }
                i{
                    font-size: 20px;
                    position: absolute; 
                    top: 10px;
                    right: 10px;
                }
            }
        }
    }
}

#pageHome{
    header{
        height: 64px;
        figure{
            max-width: 150px;
            margin-bottom: 0;
            img{
                display: block;
                width: 100%;
            }
        }
        form{
            position: relative;
            overflow: hidden;
            background: #214E88;
            border-radius: 4px;
            height: 32px;
            padding-right: 40px;
            width: 100%;
            max-width: 500px;
            margin: 0 50px;
            input{
                width: 100%;
                height: 100%;
                padding: 0 10px;
                border-radius: 4px;
                background: none;
                border: none;
                font-size: 14px;
                color: #FFF;
            }
            i{
                position: absolute;
                right: 16px;
                top: 6px;
                line-height: 18px;
                font-size: 18px;
            }
            .spinner-border{
                position: absolute;
                right: 16px;
                top: 8px;
                line-height: 18px;
                font-size: 18px;
            }
        }
        >div>i{
            font-size: 20px;
            line-height: 12px;
            display: block;
        }
    }
    .wrap-opciones{
        margin-top: 90px;
        margin-bottom: 90px;
        .opcionHome{
            height: 260px;
            background: #fff;
            border-radius: 10px;
            margin-bottom: 30px;
            box-shadow: 0 0 20px rgba(176,185,208,.16) !important;
            p{
                text-align: center;
                margin-bottom: 30px;
                span:first-child{
                    font-size: 16px;
                    font-weight:900;
                }
                span:last-child{
                    font-size: 12px;
                }
            }
            i{
                font-size: 80px;
                margin-top: 50px;
            }
        }
    }
}

.layoutMenuLeft{
    position: relative;
    padding-left: 200px;
    .wrapMenuLeft{
        position: fixed;
        height: 100%;
        height: 100vh;
        width: 200px;
        background:$bg-ppal;
        top: 0;
        left: 0;
        #menuL{
            height: 100%;
            height: 100vh;
            width: 100%;
            overflow: auto;
            figure{
                padding:0 28px;
                img{
                    display: block;
                    max-width: 150px;
                    width: 100%;
                    margin: 30px auto 50px ;
                }
            }
            a.itemMenu{
                display: block;
                color: #fff;
                padding:0 28px;
                font-size: 14px;
                &:hover{
                    background: rgba(0,0,0,.1);
                }

                p{
                    padding-left: 32px;
                    width: 100%;
                    margin-bottom: 0;
                    height: 60px;
                    line-height: 60px;
                    position: relative;
                    i{
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        font-size: 22px;
                        display: block;
                        line-height: 22px;
                        height: 22px;
                    }
                    span{
                        font-weight: 700;
                        line-height: 12px;
                    }
                }
            }
        }
    }
    .wrapContent{
        padding: 0 40px;
    }
    .headerInterno{
        padding: 0 40px;
        margin: 45px 0;
        h2{
            font-size: 32px;
            line-height: 32px;
            font-weight: 800;
        }
        i{
            font-size: 20px;
        }
    }
}

#pageAfiliaciones{
    .resumen{
        background:#FFF;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(176,185,208,.16) ;
        padding: 30px;
        div{
            span{
                display: block;
                &:first-child{
                    font-size: 14px;
                    font-weight: 600;
                }
                &:last-child{
                    font-size: 12px;
                    font-weight: 700;
                }
            }
        }
        p{
            margin-left: 60px;
            font-size: 48px;
            font-weight: 700;
            line-height: 48px;
            margin-bottom: 0;
        }
    }

    .wrapSearch{
        position: relative;
        input{
            height: 40px;
            line-height: 38px;
            padding: 0 30px 0 10px;
            background:#FFF;
            border:solid 1px #EDF0F4;
            border-radius: 4px;
            color: $c-texto2;
            font-size: 14px;
        }
        i{
            position: absolute;
            z-index: 2;
            font-size: 20px;
            right: 10px;
            color: $c-texto1;
            top: 50%;
            transform: translateY(-50%);
            pointer-events: none;
        }
        .spinner-border{
            color: $c-texto2 !important;
            position: absolute;
            z-index: 2;
            top: 12px;
            pointer-events: none;
            right: 10px;
        }
    }
    .btn-add{
        color: #FFF;
        font-size: 12px;
        font-weight: 800;
        margin-left: 30px;
        i{
            font-size: 20px;
            display: block;
            line-height: 20px;
            font-weight: 400;
        }
    }

    .listaUsuarios{
        margin: 45px 0;
    }
}

.tableGen{
    table-layout: auto;
    width: 100%;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 0 10px rgba(176,185,208,.16);
    overflow: hidden;
    thead{
        background:$c-texto4;
        th{
            padding: 12px 0;
            color: #fff;
            font-size: 10px;
            text-transform: uppercase;
            font-weight: 900;
            text-align: center;
        }
    }

    tbody{
        tr{
            height: 70px;
            text-align: center;
            font-size: 12px;
            color: $c-texto2;
            &:nth-child(even){
                background:#F7FBFF;
            }
        }
        td{
            
        }
    }
}

.btnGeneral{
    background: $bg-btn-gen;
    color: $c-btn-gen;
    height: 40px;
    line-height: 40px;
    padding: 0;
    &:hover{
        color: $c-btn-gen;
    }
}
.btn{
    span{
        display: block;
        position: relative;
        z-index: 2;
        overflow: hidden;
        transition: ease-in-out all .3s;
        padding: 0 10px;
        height: 40px;
        line-height: 40px;
    }
    &:hover{
        span{
            background: rgba(0,0,0,.1);
        }
    }
}

.wrapInput{
    display: block;
    position: relative;
    label{
        font-size: 12px;
        position: absolute;
        top: 14px;
        left: 17px;
        line-height: 12px;
        background: #fff;
        padding-right: 5px;
        transition: ease-in-out all .3s;
        pointer-events: none;
    }
    input
    {
        width: 100%;
        background: #FFFFFF;
        border: solid 1px #EDF0F4;
        border-radius: 4px;
        padding: 0 15px;
        height: 40px;
        line-height: 38px;
        margin-bottom: 30px;
        color: $c-texto1;
        font-size: 14px;
        outline: none !important;
        box-shadow: none !important;
    }
    input:focus + label,input:not([value=""]) + label{
        top: -6px;
    }
    .errorForm{
        position: absolute;
        bottom: 15px;
        font-size: 11px;
    }
}
.errorForm{
    font-size: 12px;
    color: red;
}
@import './variables.scss';