﻿
<div class="container-fluid">
  <div class="d-flex align-items-center">
    <div class="titulo flex-grow-1">Carrito de Pagos</div>
    <div>
      <i class="icon tz-alarm text-light-grey h4"></i>
    </div>
  </div>
</div>


<div class="container-fluid flex-grow-1 d-flex flex-column">
  <div id="listaPagos">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="d-flex align-items-center">
          <div class="logoComercio">
            <img src="https://via.placeholder.com/100" class="rounded-circle img-fluid" />
          </div>
          <div id="detallePago" class="ml-3 flex-grow-1">
            <ul class="list-unstyled">
              <li><strong>Empresa</strong></li>
              <li>Servicio</li>
              <li><small>Referencia 1 - 000000000</small></li>  
            </ul>
          </div>
          <div class="d-flex flex-column justify-content-end align-self-stretch">
            <div class="list-inline text-light-grey text-right flex-grow-1">
              <i class="icon tz-view list-item h6"></i>
              <i class="icon tz-close-light list-item h6 small"></i>
            </div>
            <div class="subtitulo">
              Bs. 500,00
            </div>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="d-flex align-items-center">
          <div class="logoComercio">
            <img src="https://via.placeholder.com/100" class="rounded-circle img-fluid" />
          </div>
          <div id="detallePago" class="ml-3 flex-grow-1">
            <ul class="list-unstyled">
              <li><strong>Empresa</strong></li>
              <li>Servicio</li>
              <li><small>Referencia 1 - 000000000</small></li>  
            </ul>
          </div>
          <div class="d-flex flex-column justify-content-end align-self-stretch">
            <div class="list-inline text-light-grey text-right flex-grow-1">
              <i class="icon tz-view list-item h6"></i>
              <i class="icon tz-close-light list-item h6 small"></i>
            </div>
            <div class="subtitulo">
              Bs. 500,00
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="text-center d-flex justify-content-center align-items-center flex-column w-100 flex-grow-1">
    <img class="mb-3" src="~/images/caja_gris.svg" style="width:100px; height:auto" />
    <div>No se ha agregado ningún pago</div>
  </div>
</div>

<div class="container-fluid bg-lighter-grey py-3">
  <div class="row">
    <div class="col-sm-12 mb-3">
      <table class="table table-borderless">        
        <thead>
          <tr>
            <td class="w-75">Cargo por servicio</td>
            <th class="text-right">Bs.S</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="w-75">Total</td>
            <td class="text-right">Bs.S 0</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-4">
      <a class="btn btn-light-grey btn-block" data-toggle="modal" data-target="#RegistrarPagoModal">Registrar Pago</a>
    </div>
  </div>
</div>

<partial name="_RegistrarPago" />