﻿
@{
  Layout = "~/Views/Shared/_CajaLayout.cshtml";
}

<div class="container-fluid h-100">
  <div class="titulo">Gesti&oacute;n de Caja</div>

  <div id="terminalInfo" style="font-family:R-R; font-size: .8em">
    <dl class="row mt-4">
      <dt class="col-sm-2 text-dark-blue">Usuario:</dt>
      <dd class="col-sm-9">rbander</dd>

      <dt class="col-sm-2 text-dark-blue">Terminal:</dt>
      <dd class="col-sm-9">VE9998</dd>

      <dt class="col-sm-2 text-dark-blue">Fecha de apertura de caja:</dt>
      <dd class="col-sm-9">19/10/2018</dd>

      <dt class="col-sm-2 text-dark-blue">Monto de apertura:</dt>
      <dd class="col-sm-9">Bs.S 1.000,00</dd>
    </dl>
  </div>

  <div class="d-flex flex-column align-items-center align-items-stretch justify-content-center h-50">
    <div>
      <div class="row justify-content-center my-5">
        <div class="col-sm-5">
          <table class="table table-striped table-resumen-admin">
            <tbody>
              <tr>
                <td>Transacciones Realizadas</td>
                <td>0</td>
              </tr>
              <tr>
                <td>Transacciones Devueltas</td>
                <td>0</td>
              </tr>
              <tr>
                <td>Empresas Recaudadas</td>
                <td>0</td>
              </tr>
              <tr>
                <td>Afiliaciones</td>
                <td>0</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-5">
          <table class="table table-striped table-resumen-admin">
            <tbody>
              <tr>
                <td>Recaudado en efectivo</td>
                <td>Bs.S 0,00</td>
              </tr>
              <tr>
                <td>Recaudado en cr&eacute;dito</td>
                <td>Bs.S 0,00</td>
              </tr>
              <tr>
                <td>Recaudado en d&eacute;bito</td>
                <td>Bs.S 0,00</td>
              </tr>
              <tr>
                <td>Monto devuelto</td>
                <td>Bs.S 0,00</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row justify-content-center mb-5">
        <div class="col-sm-3 text-center">
          <div class="subtitulo">Total: Bs.S 35.000,00</div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-sm-3">
          <button class="btn btn-block btn-dark-blue">Ver reporte</button>
        </div>
        <div class="col-sm-3">
          <button class="btn btn-block btn-light-blue">Cerrar caja</button>
        </div>
      </div>
    </div>
  </div>
</div>



